.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: thin;
    background-color: white;
}

.label {
    font-size: 13px;
    fill: black;
}

.linkBtn {
    font-size: 14px;
}